* {
    margin: 0;
    box-sizing: border-box;
}

.simon, nav {
    display: inline-block;
    margin-top: 2%;
}

.simon {
    float: left;
    margin-left: 4%;
}

@media only screen and (max-width: 600px) {
    nav ul {
        display: none;
    }
    
    nav {
        min-width: 10%;
        float: right;
        margin-right: 4%;
    }
    
    .small div {
        width: 30px;
        height: 5px;
        background-color: dimgrey;
        margin: 3px 0;
    }
}

@media only screen and (min-width: 600px) {
    nav ul {
        display: none;
    }
    
    nav {
        min-width: 10%;
        float: right;
        margin-right: 4%;
    }
    
    .small div {
        width: 30px;
        height: 5px;
        background-color: dimgrey;
        margin: 3px 0;
    }
}

@media only screen and (min-width: 768px) {
    
    .small {
        display: none;
    }
    nav {
        min-width: 30%;
        float: right;
        margin-right: 4%;
    }
    nav ul {
        max-width: 100%;
        float: right;
        padding-left: 0;
        display: inline;
    }
    
    nav li {
        display: inline-table;
        font-size: 1em;
        float: left;
    }
}

/*---------------Main Content------------------*/

main {
    
}

h3 {
    font-size: 1.17em;
}

.first, .third, .fourth {
    display: inline-block;
    position: relative;
}

.first {
    margin-top: 9%;
    margin-left: 10%;
    width: 84%;
}

.content {
    width: 55%;
    margin-top: 2%;
    display: inline-block;
}

.content p {
    text-align: left;
    margin-top: 3%;
}

.content button {
    margin-top: 3%;
}

.first img {
    float: right;
    right: 2%;
    width: 40%;
    height: auto;
}

.second {
    margin-top: 7%;
    display: inline-block;
    position: relative;
    background-color: azure;
}

.second img {
    float: left;
    margin: 0 3% 2% 6%;
    width: 15%;
    height: auto;
}

#inner {
    width: 100%;
    display: inline-block;
}

#theodore{
    margin-right: 15%;
    margin-left: 25%;
    width: 55%;
    width: auto;
}

#theodore h2 {
    margin-top: 8%;
}

#theodore p, #theodore h2 {
    text-align: left;
    margin-bottom: 3%;
}

.third {
    margin-top: 5%;
    padding: 1%;
}

.third h2 {
    text-align: center;
}

#for {
    font-weight: 300;
}

.services {
    width: 80%;
    margin: 0 auto;
    margin-top: 2%;
}

#left, #leftCenter, #rightCenter, #right {
    display: inline-block;
    width: 20%;
    margin: 0;
}

#left {
    float: left;
    margin-left: 0;
}

#right {
    float: right;
    margin-right: 0;
}

#leftCenter {
    float: left;
    margin-left: 7%;
}

#rightCenter {
    float: right;
    margin-left: 7%;
}

#left img, #leftCenter img, #rightCenter img, #right img {
    margin-bottom: 4%;
}

#left img {
    width: 36%;
    height: auto;
}

#leftCenter img {
    width: 34%;
    height: auto;
}

#rightCenter img {
    width: 23%;
    height: auto;
}

#right img {
    width: 34%;
    height: auto;
}

#left p, #leftCenter p, #rightCenter p, #right p {
    text-align: left;
} 

.fourth {
    background-color: midnightblue;
    width: 100%;
}

.fourth h2 {
    padding: 2%;
    text-align: center;
    color: white;
}

.reviews {
    width: 60%;
    height: auto;
    display: table;
    margin: 0 auto;
}

.one, .two {
    display: inline-block;
    width: 47%;
    margin: 7% 1%;
    position: relative;
    padding: 2%;
    background-color: white;
}

.one {
    float: left;
}

.two {
    float: right;
}

.brackets {
    border: 1px solid red;
    position: absolute;
    width: 13%;
    height: auto;
}

.one figure, .two figure {
    margin-left: 18%;
}

.avatar {
    float: right;
    width: 25%;
    height: auto;
}

/*--------------------Footer------------------*/

footer {
    margin-top: 2%;
}

footer h2 {
    text-align: center;
    padding: 2%;
}

.images {
    width: 55%;
    margin: 0 auto;
    padding: 2%;
}

#f, #m, #s, #c{
    display: inline-block;
    margin: 4%;
    height: auto;
}

#f {
    float: left;
    width: 24%;
}

#m {
    width: 15%;
}

#s {
    width: 13%;
}

#c {
    float: right;
    width: 12%;
    
}

#align {
    width: 34%;
    margin: 0 auto; 
}

#t {
    width: 41%;
    height: auto;
}

#v {
    float: right;
    width: 45%;
    height: auto;
}

.checkUs {
    padding: 2%;
    width: 100%;
    margin-top: 4%;
}

.checkUs, p {
    text-align: center;
}

#subscribe {
    width: 60%;
    padding: 3%;
    margin: 0 auto;
    background-color: midnightblue;
    margin-bottom: 3%;
}

#subscribe button{
    float: right;
    margin-right: 0 5% 2% 0;
    /*width: 30%;*/
}

#subscribe label {
    color: white;
    font-size: 1.5em;
}

.rights {
    margin-top: 0;
    position: relative;
    padding: 1%;
    background-color: beige;
}

.rights div {
    position: absolute;
    bottom: 0;
    right: 20%;
    width: 60%;
}

.rights div p {
    text-align: left;
    padding: 1%;
}

@media only screen and (max-width: 600px) {
    
    #left, #leftCenter, #rightCenter, #right {
        display: block;
        width: 50%;
        margin: 2% 0;
    }
    
    .reviews {
    width: 70%;
    height: auto;
    display: table;
    margin: 0 auto;
}
    
    .one, .two {
    display: table-column;
    width: 98%;
    padding: 2%;
    position: relative;
}
    
    .checkUs, p {
    text-align: center;
    font-size: 0.9em;
}
    
    .rights div p {
    text-align: left;
    padding: 1%;
    font-size: 0.7em;
}
    
    #subscribe {
    width: 60%;
    padding: 1%;
    margin: 0 auto;
    background-color: midnightblue;
    margin-bottom: 3%;
}
    
    #subscribe label {
    color: white;
    font-size: 1.2em;
}
    
}


















